/* Video Overlay */
#overlay {
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  transition: background-color 300ms ease;
  width: 100%; }

/* Hero Video + Fallback */
#hero-vid {
  backface-visibility: hidden;
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  perspective: 1000;
  position: fixed;
  right: 0;
  width: auto;
  z-index: -1; }

.splash {
  position: absolute;
  color: #fff;
  font-size: 850%;
  top: 28%;
  width: 100%;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #c0c0c0;
  font-weight: 300;
  line-height: 100%;
  margin-right: auto;
  margin-left: auto; }

.strapline {
  opacity: 0;
  animation-name: fade;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center; }

.splash p:nth-child(1) {
  animation-delay: 0s; }

.splash p:nth-child(2) {
  animation-delay: 3s; }

.splash p:nth-child(3) {
  animation-delay: 6s; }

.splash span {
  color: #fccb07 !important; }

.tagline {
  color: #fff;
  font-size: 12%;
  text-align: center;
  width: 100%;
  letter-spacing: 0.05em;
  line-height: 100%; }

.hide {
  display: none !important; }

@keyframes fade {
  0% {
    opacity: 0; }
  11.11% {
    opacity: 1; }
  33.33% {
    opacity: 1; }
  44.44% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/* Background Carousel */
.hidden-carousel-images {
  display: none; }

.carousel-image {
  position: relative;
  opacity: 0.75 !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  -webkit-transition: background 1000ms ease-in 500ms;
  -moz-transition: background 1000ms ease-in 500ms;
  -o-transition: background 1000ms ease-in 500ms;
  -ms-transition: background 1000ms ease-in 500ms;
  transition: background 1000ms ease-in 500ms; }

.parallax1 {
  background: url(../assets/contagious1.jpg);
  min-height: 100%; }

.parallax2 {
  background: url(../assets/contagious2.jpg);
  min-height: 100%; }

.parallax3 {
  background: url(../assets/contagious3.jpg);
  min-height: 100%; }

.btn-holder {
  position: absolute;
  color: #fff;
  top: 52%;
  width: 100%;
  display: flex;
  justify-content: center; }

.btn-box {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.5) !important;
  background: transparent;
  color: #fff;
  font-weight: bold;
  padding: 0.8em 1em;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none !important;
  margin: 0 5px; }

/* Visibility Helpers */
@media only screen and (max-width: 479px) and (orientation: portrait) {
  .carousel-image {
    background-position: center top !important;
    background-size: auto 45% !important; }
  .parallax1 {
    min-height: 44% !important; }
  .parallax2 {
    min-height: 44% !important; }
  .parallax3 {
    min-height: 44% !important; }
  .btn-holder {
    top: 32%; }
  .btn-box {
    padding: 0.4em .5em;
    font-size: 10px;
    line-height: 20px;
    margin: 0 2px; } }

@media only screen and (max-width: 360px) and (orientation: portrait) {
  .carousel-image {
    background-position: center top !important;
    background-size: auto 100% !important; }
  .btn-holder {
    top: 32%; }
  .btn-box {
    padding: 0.4em .5em;
    font-size: 10px;
    line-height: 20px;
    margin: 0 2px; } }
